@model Models.Framework.DGDIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DGDIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DONGIADIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONGIADIEN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MADGDIEN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
